<head>
  <title>Share It, Girl!</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<!-- <h1>Sign Up to Share the Love!</h1>
  <form action="/signup" method="POST">   
    <p><label for="username">Username</label>   
    <input type="text" name="username"></p>   
    <p><label for="password">Password</label>   
    <input type="password" name="password"></p> 
      <p><label for="email">Email</label>   
    <input type="email" name="email"></p>   
    <input type="SUBMIT"> 
  </form> -->
<!--   ###############LOG IN FORM######### -->


   <form action="/login" method=="POST" class="main-form first">
  <div class="main-form__title">
    <h1>LOG IN</h1>
  </div>
  <div class="main-form__body">
    <input class="main-form__body--input" type="text" placeholder="Username" />
    <input class="main-form__body--input" type="password" placeholder="Password" />
    <button class="btn">Clear</button>
    <button class="btn">Log In</button>
  </div>
</form> 
