
<link rel="stylesheet" href="main.css">
<body background="images/slide4.png">

<div class="bit-1">
	<nav>
	  <ul>
	    <div class="bit-7">
	    
		    <li><a href="/profile">Profile</a></li>
	    </div>
	 
	    <div class="bit-7">
		    <li><a href="/logout">Logout</a></li>
	    </div>
	    <div class="bit-7">
		    <li><a href="/posts">Posts</a></li>
	    </div>
	   </ul>
	</nav>
</div>

<h1>Share the love here</h1>
<center>
<textarea name="myTextBox" cols="50" rows="5">
Enter some text...
</textarea>
<br />
<input type="submit" />
</form>
</center>





