
<link rel="stylesheet" href="main.css">
<body background="images/slide4.png">
  <div class="bit-1">
        	<img src="images/small_lips1.png" alt="lips" width="128" height="128">
            
        </div>
<div class="bit-1">
	<nav>
	  <ul>
		    <div class="bit-7">
			    <li><a href="/profile">Profile</a></li>
		    </div>
		 
		    <div class="bit-7">
			    <li><a href="/logout">Logout</a></li>
		    </div>
		    
		    <div class="bit-7">
			    <li><a href="/posts">What's Trending</a></li>
		    </div>
		    
		    <div class="bit-7">
		    	<li><a href="/">Home</a></li>
		    </div>
	   </ul>
	</nav>
</div>

<h1>Trending Looks</h1>

<div class="carousel__container">
  <div class="carousel__item">
    <img src="images/elise.jpg" class="carousel__image">
  </div>
  <div class="carousel__item">
    <img src="images/taja.jpg" class="carousel__image">
  </div>
  <div class="carousel__item">
    <img src="images/sumayuh.jpg" class="carousel__image">
  </div>

</div>


