<body background="images/slide4.png">
<head>
	<title>Share It, Girl!</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
  <div class="bit-1">
        	<img src="images/small_lips1.png" alt="lips" width="128" height="128">
  </div>


   	<nav>
    	<ul>
			<div class="bit-7">
				<li><a href="/logout">Logout</a></li>
			</div>
			<div class="bit-7">
				<li><a href="/posts">What's Trending</a></li>
			</div>
			 <div class="bit-7">
		    	<li><a href="/">Home</a></li>
	    	</div>
	    </ul>
	</nav>
 


	 <div class="bit-1">
		 <h1>Your Profile</h1>
	 </div>

		<div class="image-gallery">
		  <img src="https://40.media.tumblr.com/d8767fe82a3594092e7a30001d03708f/tumblr_nqemrrrEci1ti06uro1_500.jpg"/>
		   <img src="http://cdn4.teen.com/wp-content/gallery/kendall-kylie-jenner-instagram-selfie-guide/kendall-kylie-jenner-instagram-selfie-guide-4.jpg"/>
		   <img src="http://trendymods.com/wp-content/uploads/2015/09/ideas-how-to-take-the-perfect-tumblr-selfie-9.jpg"/>
		   <img src="http://36.media.tumblr.com/06f16447fbac94863808304a3f81c866/tumblr_nd4792CZaA1snwq4go1_500.png"/>
		   <img src="http://40.media.tumblr.com/4dbc7db0a0a76ef7d5e53dbdc5f2c0d4/tumblr_non9uy32Yk1ti06uro7_1280.jpg" />
		   <img src="http://33.media.tumblr.com/avatar_d1db58d22c90_128.png"/>
		   <img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=107596787" />
		   <img src="https://s-media-cache-ak0.pinimg.com/236x/a4/75/b6/a475b639cad5f44cac684928701fc42c.jpg" />
		   <img src="http://meatgrinder.co/photos/kylie-jenner/kylie-jenner-devoile-un-nouveau-selfie-hot-a7c60a603e727b5b162e5c158850c8fb-smaller-272892.jpg" />
		   <img src="http://36.media.tumblr.com/6ae4daa7cbb997f28ab70d0f10ff2ad2/tumblr_nkd2ygU5Z91sculzro1_500.png" />
		   <img src="http://36.media.tumblr.com/c8d30f67c138318a5d43273c7006219c/tumblr_nqelr6bvyL1skmw67o1_500.jpg" />
		   <img src="http://static.tumblr.com/ada8d942bb2e1f3f2fcfaf64807b87ff/bibl7hj/1iJny2p70/tumblr_static_chlkmr23llkcok0cwsck4og00.jpg" />
		   <img src="http://ak-hdl.buzzfed.com/static/2015-01/21/7/enhanced/webdr01/grid-cell-15639-1421844045-7.jpg"/>
		</div>

	 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>

