<link rel="stylesheet" href="main.css">
<body background="images/slide4.png">
<head>
	<title>Share It, Girl!</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>

	<!-- ###########SIGN IN FORM############### -->

	
	
	<form action="/signup" method="POST" class="main-form first">
  <div class="main-form__title">
    <h1>SIGN UP</h1>
  </div>
  <div class="main-form__body">
    <p><input class="main-form__body--input" name="username" type="text" placeholder="Username" /></p><br>
    <p><input class="main-form__body--input" name="email" type="email" placeholder="Email Address" /></p><br>
    <p><input class="main-form__body--input" name="password" type="password" placeholder="Password" /></p><br>
    <button class="btn">Clear</button>
    <button class="btn">Register</button>
  </div>
</form> 
