<body background="images/slide4.png">
<head>
	<title>Share It, Girl!</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<div class="bit-1">
<h1>Thanks for signing up! Now start sharing the love, girl!</h1>
</div>



 <div class="wrap">
        <div class="bit-1">
            <div class="box"><a href="./posts" class="button">Start Posting</a></div>
        </div>
